<div class="container">
  <h1 style="color: blanchedalmond; font-style: oblique;">
    Faculdades Logatti - Sistemas Distribuidos
  </h1>

  <div class="card" *ngIf="!enableChat">
    <div class="card-body">
      <div class="form-group">
        <label for="name">Nome:</label>
        <input type="text" [(ngModel)]="name" class="form-control" id="exampleInputEmail1" aria-describedby="name">
        <small id="name" class="form-text text-muted">Informe o seu nome.</small>
      </div>
      <button type="submit" class="btn btn-primary" (click)="enterName()" >Entrar</button>
    </div>
  </div>

  <div class="card" *ngIf="enableChat" >
    <div class="card-header">
      Chatbot Vendas
    </div>
    <div class="card-body">
      <h5 class="card-title">Bem vindo, fale com nossa atendente.</h5>
      <div class="container" style="margin-top: 15px;">
        <div class="col-sm">
          <div class="form-group">
            <label for="chat">Chat</label>
            <div
              data-spy="scroll"
              data-target="#navbar-example2"
              data-offset="0"
              id="chat"
              class="scrollspy-chat"
            ></div>
          </div>
          <br />
          <div class="form-group">
            <label for="message">Mensagem</label>
            <textarea
              (change)="doTextareaValueChange($event)"
              class="form-control"
              name="message"
              maxlength="500"
              cols="120"
              rows="3"
              type="text"
              id="message"
              style="resize: none;"
            ></textarea>
          </div>
          <button
            type="button"
            class="btn btn-primary"
            id="enviar"
            onclick="enviarMensagem()"
          >
            Enviar</button
          >&nbsp;
          <button
            type="button"
            class="btn btn-danger"
            onclick="window.location.reload()"
          >
            Sair
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
